


body { 
    background-image: linear-gradient(rgba(255, 255, 200), rgb(255, 200, 200));
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    
}

div {
    /*display: grid; */
    /* grid-template-columns: 1fr 0.5fr; /* or 2fr 1fr */
    margin: auto;
    margin-bottom: 2mm;
    width: 50%;
    border: 2px solid rgba(172, 255, 47, 0.268);
    padding: 10px;
}

/* sets all  */
.totalRow{
    text-align: right;
}

/* Dice box div */
#diceBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
#diceBox img {
    width: 50px; /* You can adjust the width */
    height: 50px; /* You can adjust the height */
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

/* CRAZY BUTTON */
#diceBox button {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  background-color: rgb(255, 175, 100);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  /*width: 100%; */
}


#diceBox button:after {
background-clip: padding-box;
background-color:  rgb(255, 200, 165);
border: solid transparent;
border-radius: 16px;
border-width: 0 0 4px;
bottom: -4px;
content: "";
left: 0;
position: absolute;
right: 0;
top: 0;
z-index: -1;
}
/**/

#diceBox button,
#diceBox button:focus {
user-select: auto;
}

#diceBox button:hover:not(:disabled) {
filter: brightness(1.1);
-webkit-filter: brightness(1.1);
}

#diceBox button:disabled {
cursor: auto;
}

#diceBox button:active {
border-width: 4px 0 0;
background: none;
}

