

html { 
  background-image: linear-gradient(rgba(255, 255, 200), rgb(255, 200, 200));
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  min-height: 100%;
  max-height: none;
  font-size: 56px;
}

div {
  border: 2px solid rgb(220, 233, 146);
  
}

#diceBox {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 1%;
  max-width: 70vw;
  min-width: 900px;
  padding: 1%;
}



/* Dice box div */
#diceImages {
  display: flex;
  
  /* scale */
  max-width: 100%;
  min-width: 0%;

  gap: 1%;
  
}

#diceImages img {
  object-fit: cover; /* Ensures the image covers the container without distortion */
  flex: 1 1 auto;
  max-width: 100%;
  min-width: 0%;
}



/* CRAZY BUTTON */
/* Button base layout */
#diceBox button {
  align-self: end;
  
  font-family: "Comic Sans MS", "Comic Sans", sans-serif; /* Button text font */
  background-color: rgb(255, 175, 100); /* Button Shadow color */
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  font-size:calc(1vh + 1vw);
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;

  margin: 1%;
  outline: none;
  overflow: visible;
  padding: 2%;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;

 
  
}

#diceBox button:after {
background-clip: padding-box;
background-color:  rgb(255, 200, 165);
border: solid transparent;
border-radius: 16px;
border-width: 0 0 4px;
bottom: 2%;
content: "";
left: 0;
position: absolute;
right: 0;
top: 0;
z-index: -1;
}

#diceBox button,
#diceBox button:focus {
user-select: auto;
}

#diceBox button:hover:not(:disabled) {
filter: brightness(1.1);
-webkit-filter: brightness(1.1);
}

#diceBox button:disabled {
cursor: auto;
}

#diceBox button:active {
border-width: 4px 0 0;
background: none;
}

/* ------------------------------------------------------------- */
/* Score bord */
#scoreBox {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 1%;
  max-width: 70vw;
  min-width: 900px;
  padding: 1%;
}

#scoreBox table {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  max-width: 100%;
  min-width: 0%;
}

#scoreBox th {
  font-size: 2rem;
}

#scoreBox td {
  font-size: 1rem;
  
}

/* sets all  */
.totalCounters{
  text-align: right;
  text-decoration: underline;
}

input {
  max-width: 70%;
}